<!DOCTYPE html>
<html>

<head>
    <title>Video Streaming Demonstration</title>
    <script src="https://cdn.jsdelivr.net/hls.js/latest/hls.min.js"></script>
</head>

<body>
    <h1>Video Streaming Demonstration</h1>
    <video id="camera-caputure"  controls autoplay muted></video>

        <script>
            if(Hls.isSupported()){
                var media = document.getElementById('camera-caputure');
                var hls = new Hls();
                // hls.loadSource('hls_stream');
                hls.loadSource("{{ url_for('static', filename='output.m3u8') }}");
                hls.attachMedia(media);
                hls.on(Hls.Events.MANIFEST_PARSED, function(){
                    media.play();
                });
            }
        </script>
</body>

</html>